body,html{
    height: 100%;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center ;

}


.container{
    background-color:white;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(23, 23, 23, 0.1);
  padding: 60px;
  max-width: 400px;
  width: 400px;
  text-align: center;
  align-items: center;
 


}
h2{
    margin-top: 5px;
}
.form-group{
    margin-bottom: 10px;
}
input[type="text"],
input[type="password"]{
    width: 100%;
    padding:10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(236, 241, 245);

}
button[type ="submit"]{
    width: 100%;
    padding:10px;
    border: none;
   background-color: rgba(239, 122, 122, 0.834);
    border-radius: 5px;
    cursor: pointer;
    

}
a.log{
    float: left;
    text-align: left;
    color: rgb(92, 92, 228);

}
a{
    color:  rgb(92, 92, 228);

}

.form-group #username_error,
.form-group #pass_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #c62828;
    background: rgba(255,0,0,0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;
}