body {
    background-image: url('../images/background.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}



.headerContainer{
	min-width: 1280px;
	height: 64px;
	min-height: 64px;
	background: #fff;
	position: relative;
	z-index: 9;
	border-bottom: 1px solid #f2f2f2;
}
.headerContainer .left{
	position: absolute;
	left: 32px;
	top: 12px;
}
.headerContainer .left .logo{
	height: 40px;
	width: 40px;
	vertical-align: top;
}
.headerContainer .left .title{
	display: inline-block;
	font-size: 20px;
	color: #1c1818;
	margin: 7px 8px 0;
}
.headerContainer .center{
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 24px;
	padding-right: 180px;
}
.headerContainer .center .textBox{
	display: inherit;
	font-size: 16px;
	color: #000;
	text-align: center;
	padding-right: 34px;
	padding-left: 34px;
}
.headerContainer .center .textBox {
	font-size: 15px;
}
.text{
    font-size: 15px;
    text-decoration: none;
}
.headerContainer .center .textBox .textClicked{
	color: #007dff;
	font-size: 15px;
	font-weight: 500;
}
.headerContainer .right{
	position: absolute;
	right: 33px;
	top: 11px;
	display: flex;
	align-items: center;
}
.search{
	position: relative;
	right: 100px;
	color: #000;
	z-index: 1;
}
.search .search-icon{
	position: absolute;
	left: 19px;
	top: 6px;
	width: 20px;
	height: 20px;
	background: url(images/search.svg) no-repeat;
}
.search input{
	display: block;
	width: 152px;
	height: 30px;
	background: #f2f2f2;
	border-radius: 18px;
	border: 1px solid #f2f2f2;
	padding: 0 43px;
	color: #000;
	font-size: 14px;
	overflow: hidden;
	outline: none;
}
.headerContainer .right .userIcon{
	height: 32px;
	width: 32px;
	border-radius: 50%;
	cursor: pointer;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.left {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.left p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.methods {
    margin-top: 15px;
}

.methods div {
    cursor: pointer;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-weight: bold;
}

.methods div:hover {
    background-color: #bdc4be;
}

.center {
    margin-left: 50px;
}

.i-center{
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
}

/*logo pictures*/
.custom-div {
    text-align: center;
}

.custom-div img {
    display: block;
    margin: 0 auto;
}

/*bank logos*/
.logo-container{
    display: flex;
    align-items: center; 
    background-color: #f0f0f0;
}
.B-bankLogo{
    width: 15%; 
    height: auto;
    margin-left: 200px;
}
.P-bankLogo{
    width: 20%; 
    height: auto;
    margin-left: 130px;
}
.C-bankLogo{
    width: 15%; 
    height: auto;
    margin-left: 140px;
}



.card-details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

.inputBox {
    margin-bottom: 15px;
}

.inputBox span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputBox input[type="text"],
.inputBox input[type="number"],
.inputBox input[type="email"],
.inputBox input[type="checkbox"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}



.footerContainer{
	margin-top: 50px;
	padding-top: 10px;
}
.footercontainer2{
	margin-top: 12px;
}
.lowertext1{
	color: rgb(115, 108, 108);
	font-size:14px;
	padding-right: 15px;
	padding-left: 15px;
}
.lowertext1:hover{
	color: #007dff;
}
